[Desktop Entry]
Type=Application
Name=EasyBeat.School
Comment=Tabs player, metronome, theory and notes
Exec=easybeat-school %U
Icon=school.easybeat.App
Terminal=false
Categories=AudioVideo;Audio;Music;Education;
StartupWMClass=EasyBeat.School
MimeType=x-scheme-handler/easybeat-school;application/x-guitar-pro;application/x-easybeat-score;application/x-capella;application/vnd.recordare.musicxml+xml;
